<meta charset="UTF-8" />
<title><%= title %></title>
<!--<meta name="google" content="notranslate" /> 언어자동번역방지//-->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" id="viewport" content="width=device-width, viewport-fit=cover">

<link rel="stylesheet" href="/resources/js/library/css/jquery-ui.css">
<!-- <link rel="stylesheet" href="/resources/css/content.css"> -->
<!-- 모바일용 스타일 시트 -->
<link rel="stylesheet" href="/resources/css/b2c_mb.css" media="only screen and (max-width: 1023px)">
<!-- PC용 스타일 시트 -->
<link rel="stylesheet" href="/resources/css/b2c_pc.css" media="only screen and (min-width: 1024px)">

<script src="/resources/js/library/jquerylibrary.js"></script>
<script src="/resources/js/library/jquery-ui.js"></script>
<script src="/resources/js/common_pub.min.js"></script>
