/* layout.scss */
html, body, .wrapper { min-height: 100%; width: 100%; margin:0; padding:0;}

.wrapper { }
#container { } //position:relative; z-index:1; min-height:100%; margin:0 auto -200px; padding:0 0 200px; 
#contents { overflow: hidden;} //min-height: 100vh;  min-height: 100dvh; 
#footer { clear:both; position:relative; z-index:2; width:100%;}


// 2뎁스 메뉴  컬럼 수에따른 width 값 
// .col1 li { width: 100%; }
// .col2 li { width: 50%; }
// .col3 li { width: 33.3333%; }
// .col4 li { width: 25%; }

// .wrap { background-color: #f8f8f9; transition: transform .5s; z-index:1;}

// // 서브 텝메뉴
// .subMenuTab {
//     &:after { display:block;visibility:hidden;clear:both;height:0;content:'.'}
//     li { position: relative; float: left; text-align:center; height:62px; 
//         border-top:1px solid #eeeeee;
//         border-bottom:1px solid #eeeeee;
//         background-color: #fff;
//         a:before { content: ""; display: block; width: 2px; height: 27.5px;
//             position: absolute; top:14px; left: -1px; background-color: #eeeeee}
//         a { font-size: 12px; color: #999; line-height: 60px;}
//     }
//     li:first-child a:before { display: none;}
//     li.on a { color:$colorMain;}
// }

// // 아코디언 메뉴 
// .accordion_menu { 
//     .con-area { display: none; }
// }
