<!DOCTYPE html>
<html lang="ko"><!--translate="no"//-->
  <head>
    <%- include('../../../include/_head.ejs', { title: "Travelover" }) %>
  </head>
  <body>
    <div class="wrapper">
      <!-- header //-->
      <%- include('../../../include/_header.ejs') %>
      <!-- header //-->

      <!-- container -->
      <div id="container">
			  <div id="contents">
          <section class="contract-section">
            <div class="cont-inner">
              <div class="cont-group">
                <div class="table-title">
                  <h3>국내여행보험 / 오렌지</h3>
                  <span class="flag type1">결제완료</span>
                </div>
                <div class="table-wrap">
                  <table class="table has-data">
                    <thead>
                      <tr>
                        <th>청약번호</th>
                        <th>청약일</th>
                        <th>신청자</th>
                        <th>피보험자</th>
                        <th>여행일자</th>
                        <th>결제</th>
                        <th>옵션</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td data-label="청약번호">000000-000000000-00001</td>
                        <td data-label="청약일">2024-04-04 12:32:31</td>
                        <td data-label="신청자">김준배</td>
                        <td data-label="피보험자">김준배 외 0명</td>
                        <td data-label="여행일자">2024-08-01 00시 ~ 2024-09-21 23시</td>
                        <td data-label="결제">00.000원</td>
                        <td data-label="" class="label-hidden">
                          <div class="btn_set">
                            <a class="btn btn_xsm btn_gray_line" href="#" role="button">
                              <span>계약관리</span>
                            </a>
                            <a class="btn btn_xsm btn_gray_line" href="#" role="button">
                              <span>증명서 발급</span>
                            </a>
                            <a class="btn btn_xsm btn_gray_line" href="#" role="button">
                              <span>서류요청</span>
                            </a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                    <tbody>
                      <tr>
                        <td data-label="청약번호">000000-000000000-00001</td>
                        <td data-label="청약일">2024-04-04 12:32:31</td>
                        <td data-label="신청자">김준배</td>
                        <td data-label="피보험자">김준배 외 0명</td>
                        <td data-label="여행일자">2024-08-01 00시 ~ 2024-09-21 23시</td>
                        <td data-label="결제">00.000원</td>
                        <td data-label="" class="label-hidden">
                          <div class="btn_set">
                            <a class="btn btn_xsm btn_gray_line" href="#" role="button">
                              <span>계약관리</span>
                            </a>
                            <a class="btn btn_xsm btn_gray_line" href="#" role="button">
                              <span>증명서 발급</span>
                            </a>
                            <a class="btn btn_xsm btn_gray_line" href="#" role="button">
                              <span>서류요청</span>
                            </a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="cont-group">
                <div class="table-title">
                  <h3>국내여행보험 / 오렌지</h3>
                  <span class="flag type1">결제완료</span>
                </div>
                <table class="table has-data">
                  <thead>
                    <tr>
                      <th>청약번호</th>
                      <th>청약일</th>
                      <th>신청자</th>
                      <th>피보험자</th>
                      <th>여행일자</th>
                      <th>결제</th>
                      <th>옵션</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td data-label="청약번호">000000-000000000-00001</td>
                      <td data-label="청약일">2024-04-04 12:32:31</td>
                      <td data-label="신청자">김준배</td>
                      <td data-label="피보험자">김준배 외 0명</td>
                      <td data-label="여행일자">2024-08-01 00시 ~ 2024-09-21 23시</td>
                      <td data-label="결제">00.000원</td>
                      <td data-label="" class="label-hidden">
                        <div class="btn_set">
                          <a class="btn btn_xsm btn_gray_line" href="#" role="button">
                            <span>계약관리</span>
                          </a>
                          <a class="btn btn_xsm btn_gray_line" href="#" role="button">
                            <span>증명서 발급</span>
                          </a>
                          <a class="btn btn_xsm btn_gray_line" href="#" role="button">
                            <span>서류요청</span>
                          </a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </section>
			  </div>
		  </div>
		  <!-- //container -->

      <!-- footer -->
      <%- include('../../../include/_footer.ejs') %>
      <!-- //footer --> 
    </div>
  </body>
</html>
