<!DOCTYPE html>
<html lang="ko"><!--translate="no"//-->
  <head>
    <%- include('../include/_head.ejs', { title: "Travelover" }) %>
  </head>
  <body>
    <div class="wrapper">
      <!-- header //-->
      <!-- <header>
          header
      </header> -->
      <!-- header //-->

      <!-- container -->
      <div id="container">
			  <div id="contents" >
       
         <section style="background:url('/resources/images/image 3563.jpg') no-repeat center ; background-color: #000; min-height: 100vh;  min-height: 100dvh;">
          <!-- <img src="/resources/images/@sample.jpg"/> -->
           <div style="height: 500px;"></div>
           <div style="position: absolute; left:0; top:0; right:0; bottom:0;background-color:#000; opacity: 0.2;"></div>
          </section>
          
			  </div>
		  </div>
		<!-- //container -->

		<!-- footer -->
		<!-- <%- include('../include/_footer.ejs') %> -->
		<!-- //footer --> 
    </div>
  </body>
</html>
