<!DOCTYPE html>
<html lang="ko"><!--translate="no"//-->
  <head>
    <%- include('../../../include/_head.ejs', { title: "Travelover" }) %>
  </head>
  <body>
    <div class="wrapper">
      <!-- header //-->
      <%- include('../../../include/_header.ejs') %>
      <!-- header //-->

      <!-- container -->
      <div id="container">
			  <div id="contents">
          <section class="event-section">
            <div class="cont-inner">
              <div class="list-detail">
                <div class="detail_content">
                  <div class="detail_head">
                    <strong class="title">황금연휴, 떠나요 여행보험 10% 활인</strong>
                    <span class="date">2024.08.22</span>
                  </div>
                  <div class="detail_body">
                    <p>이벤트 상세 노출 영역</p>
                    <div class="box-base has-review">
                      <div class="box_title">
                        <span>심의필 내용 타이틀</span>
                      </div>
                      <div class="box_data">
                        <span>심의필 내용 심의필 내용 심의필 내용 심의필 내용 심의필 내용 심의필 내용 심의필 내용 심의필 내용 심의필 내용 심의필 내용 심의필 내용 심의필 내용 심의필 내용 심의필 내용 심의필 내용 심의필 내용 심의필 내용 심의필 내용 심의필 내용 심의필 내용 심의필 내용 심의필 내용 심의필 내용 심의필 내용</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="btn_set btn_set-single">
                  <div class="btn_item"><a class="btn btn_lg btn_line" href="#" role="button"><span>목록</span></a></div>
                </div>
              </div>
            </div>
          </section>
			  </div>
		  </div>
		  <!-- //container -->

      <!-- footer -->
      <%- include('../../../include/_footer.ejs') %>
      <!-- //footer --> 
    </div>
  </body>
</html>
