<meta charset="UTF-8" />
<title><%= title %></title>
<!--<meta name="google" content="notranslate" /> 언어자동번역방지//-->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
<meta name="viewport" id="viewport" content="width=device-width, viewport-fit=cover">
<link rel="stylesheet" href="/resources/css/content.css" />
<script src="/resources/js/common_pub.js"></script>
<script src="/resources/js/library/jquery-ui.js"></script>
<script src="/resources/js/library/jquerylibrary.min.js"></script>