<!DOCTYPE html>
<html lang="ko"><!--translate="no"//-->
  <head>
    <%- include('../../../include/_head.ejs', { title: "Travelover" }) %>
  </head>
  <body>
    <div class="wrapper">
      <!-- header //-->
      <%- include('../../../include/_header.ejs') %>
      <!-- header //-->

      <!-- container -->
      <div id="container">
			  <div id="contents">
          <section class="inquiry-section">
            <div class="cont-inner">
              <%- include('../../../include/_page_title.ejs', {
                "title_type" : "",
                "title_main" : "1:1문의",
                "title_sub" : "궁금한 사항은 접수해주시며 신속하게 답변해드리겠습니다.", 
              }) %>

              <div class="table-title is-both">
                <h3 class="none">내 문의 내역</h3>
                <a class="btn btn_sm btn_default" href="#" role="button"><span>문의하기</span></a>
              </div>
              
              <div class="list-wrap">
                <ul class="list-base">
                  <li>
                    <a href="#" class="list_link">
                      <p class="list_title">
                        <span class="type">[문의유형]</span>
                        <span class="list_name">여행자보험은 어떻게 가입하나요?</span>
                      </p>
                      <div class="list_status">
                        <span class="date">2024.08.30</span>
                        <span class="flag-wrap"><i class="flag type7">답변 대기중</i></span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="list_link">
                      <p class="list_title">
                        <span class="type">[문의유형]</span>
                        <span class="list_name">여행자보험은 어떻게 가입하나요?</span>
                      </p>
                      <div class="list_status">
                        <span class="date">2024.08.22</span>
                        <span class="flag-wrap"><i class="flag type6">답변 완료</i></span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="list_link">
                      <p class="list_title">
                        <span class="type">[문의유형]</span>
                        <span class="list_name">여행자보험은 어떻게 가입하나요?</span>
                      </p>
                      <div class="list_status">
                        <span class="date">2024.08.22</span>
                        <span class="flag-wrap"><i class="flag type6">답변 완료</i></span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="list_link">
                      <p class="list_title">
                        <span class="type">[문의유형]</span>
                        <span class="list_name">여행자보험은 어떻게 가입하나요?</span>
                      </p>
                      <div class="list_status">
                        <span class="date">2024.08.22</span>
                        <span class="flag-wrap"><i class="flag type6">답변 완료</i></span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="list_link">
                      <p class="list_title">
                        <span class="type">[문의유형]</span>
                        <span class="list_name">여행자보험은 어떻게 가입하나요?</span>
                      </p>
                      <div class="list_status">
                        <span class="date">2024.08.22</span>
                        <span class="flag-wrap"><i class="flag type6">답변 완료</i></span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="list_link">
                      <p class="list_title">
                        <span class="type">[문의유형]</span>
                        <span class="list_name">여행자보험은 어떻게 가입하나요?</span>
                      </p>
                      <div class="list_status">
                        <span class="date">2024.08.22</span>
                        <span class="flag-wrap"><i class="flag type6">답변 완료</i></span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="list_link">
                      <p class="list_title">
                        <span class="type">[문의유형]</span>
                        <span class="list_name">여행자보험은 어떻게 가입하나요?</span>
                      </p>
                      <div class="list_status">
                        <span class="date">2024.08.22</span>
                        <span class="flag-wrap"><i class="flag type6">답변 완료</i></span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="list_link">
                      <p class="list_title">
                        <span class="type">[문의유형]</span>
                        <span class="list_name">여행자보험은 어떻게 가입하나요?</span>
                      </p>
                      <div class="list_status">
                        <span class="date">2024.08.22</span>
                        <span class="flag-wrap"><i class="flag type6">답변 완료</i></span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="list_link">
                      <p class="list_title">
                        <span class="type">[문의유형]</span>
                        <span class="list_name">여행자보험은 어떻게 가입하나요?</span>
                      </p>
                      <div class="list_status">
                        <span class="date">2024.08.22</span>
                        <span class="flag-wrap"><i class="flag type6">답변 완료</i></span>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>

              <div class="paging-area">
                <div class="paging">
                  <a href="#" class="prev_end" title ="previous"><i class="icon page_prevEnd"></i></a>
                  <a href="#" class="prev" title ="previous"><i class="icon page_prev"></i></a>
                  <strong class="on"><em>1</em></strong>
                  <a href="#"><em>2</em></a>
                  <a href="#"><em>3</em></a>
                  <a href="#"><em>4</em></a>
                  <a href="#"><em>5</em></a>
                  <a href="#" class="next" title ="next"><i class="icon page_next"></i></a>
                  <a href="#" class="next_end" title ="next"><i class="icon page_nextEnd"></i></a>
                </div>
              </div>
            </div>
          </section>
			  </div>
		  </div>
		  <!-- //container -->

      <!-- footer -->
      <%- include('../../../include/_footer.ejs') %>
      <!-- //footer --> 
    </div>
  </body>
</html>
