<!DOCTYPE html>
<html lang="ko"><!--translate="no"//-->
  <head>
    <%- include('./include/head.ejs', { title: "Travelover" }) %>
  </head>
  <body>
    <div class="wrapper">
      <!-- header //-->
      <header>
          header
      </header>
      <!-- header //-->

      <!-- container -->
      <div id="container">
			  <div id="contents">
           메인화면

			  </div>                
		  </div>
		<!-- //container -->

		<!-- footer -->
		<%- include('./include/footer.ejs') %>
		<!-- //footer -->
    </div>
  </body>
</html>
